<div class="m-site-header__left m-site-header__block">
  John Flynn
</div>
{# /.m-site-header__left #}

<div class="m-site-header__right m-site-header__block">
	<ul class="c-descriptor-list u-bare-list">
		<li class="c-descriptor-list__item">Web Developer</li>
	</ul>
</div>
{# /.m-site-header__right #}
