<div class="m-site-header__left m-site-header__block">
  {{ headerSettings.siteTitle }}
</div>
{# /.m-site-header__left #}

<div class="m-site-header__right m-site-header__block">
  {% if headerSettings.skillsScroller|length %}
    <ul class="c-descriptor-list u-bare-list">
      {% for skill in headerSettings.skillsScroller %}
        <li class="c-descriptor-list__item anim{% if loop.first %} is-visible{% endif %}" data-descriptor-list-item>{{ skill.skillName }}</li>
      {% endfor %}
    </ul>
  {% endif %}
</div>
{# /.m-site-header__right #}
