<!DOCTYPE html>
<html class="no-js" lang="en-us">

  <head>
    {% block head %}
      {% include 'partials/head.twig' %}
    {% endblock %}
  </head>

  <body>

    <header class="m-site-header" role="banner">
      {% block header %}
        {% include 'partials/header.twig' %}
      {% endblock %}
    </header>

    <main role="main" class="main" id="app">
      {% block content %}
      {% endblock %}
    </main>

  {#<script src="{{ mix('scripts/main.js') }}"></script>#}
  {{ craft.twigpack.includeJsModule("main.js", true) }}

    {# Output additional code depending on environment #}
  {% if not craft.app.config.general.devMode %}
    {% if generalSettings.googleAnalyticsCode is defined %}
      {{ generalSettings.googleAnalyticsCode | raw }}
    {% endif %}

  {% else %}
    {{ adminbar() }}
  {% endif %}

  </body>

</html>
