//--------------------------------------------------------------
// SVG Icon Styles
//--------------------------------------------------------------
.svg-icon {
  display: inline-block;
  height: auto;
  vertical-align: middle;

  fill: currentColor
}
