//--------------------------------------------------------------
// Core Skills Styles
//--------------------------------------------------------------
.m-core-skills__heading {
  margin-bottom: 3rem;
}

.m-core-skills__block {
  align-items: center;
  margin-bottom: $gutter--large;
  text-align: center;

  @include breakpoint($medium--up) {
    text-align: left;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.m-core-skills__block--reverse {
  @include breakpoint($medium--up) {
    flex-direction: row-reverse;
  }
}

.m-core-skills__svg {
  margin-bottom: 1rem;
  text-align: center;
}

.m-core-skills__title {
  margin: 0 0 2rem;
}
