// Contains Site-Wide Header Styles for JohnJFlynn.net
// Author: John Flynn

//-----------------------------------------
// General Header Styles
//-----------------------------------------
.m-site-header {
  display: flex;
  flex-wrap: wrap;
}

.m-site-header__block {
  padding: 1rem 0;
  width: 100%;
  text-align: center;
  text-transform: uppercase;

  @include breakpoint($small--up) {
    width: 50%;
  }
}

.m-site-header__left {
  font-weight: $font-weight-bold;
}

//-----------------------------------------
// Right Side Block
//-----------------------------------------
.m-site-header__right {
  background-color: $color-black;
}
