//--------------------------------------------------------------
// Home Hero Styles
//--------------------------------------------------------------
.m-home-hero {
  display: flex;
  padding: $gutter--large 0;
  background-color: $color-teal;
  color: white;

  @include breakpoint($small--up) {
    padding: $gutter 0 0 0;
  }
}

//-----------------------------------------
// General Blocks
//-----------------------------------------
.m-home-hero__block {
  flex: 1 50%;
}

//-----------------------------------------
// SVG Mountains
//-----------------------------------------
.m-home-hero__mountains {
  display: none;

  @include breakpoint($small--up) {
    display: initial;
  }
  svg {
    width: 100%;
    height: auto;
  }
}

//-----------------------------------------
// Content Block
//-----------------------------------------
.m-home-hero__content {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

//-----------------------------------------
// My Name....
//-----------------------------------------
.m-home-hero__name {
  margin: 0;
  font-size: 3.6rem;
}

//-----------------------------------------
// Sub Heading
//-----------------------------------------
.m-home-hero__sub {
  margin-bottom: 0.5rem;
  font-size: 2rem;
}

//-----------------------------------------
// Tech List
//-----------------------------------------
.m-home-hero__tech-list {
  display: flex;
  justify-content: center;
  color: $color-red;
  font-size: 1.4rem;
}

.m-home-hero__tech-list-item {
  margin-right: 1rem;

  &:last-of-type {
    margin-right: 0;
  }
}
