//--------------------------------------------------------------
// Work Section Styles
//--------------------------------------------------------------
.m-work__wrapper {
  position: relative;
  margin-top: $gutter--large;
}

.m-work__group {
  display: none;
}

//-----------------------------------------
// States
//-----------------------------------------
.m-work__group[data-active] {
  display: block;
}
