//--------------------------------------------------------------
// Work Section Styles
//--------------------------------------------------------------
.m-work__sliders-wrapper {
  position: relative;

  .c-slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}

//-----------------------------------------
// Work Slider
//-----------------------------------------
.m-work__slider {
  transition: all 0.4s ease;
  transform: translateY(5rem);
  
  &--active {
    z-index: 1;
    opacity: 1;
    transition-delay: 0.3s;
    transform: translateY(0);
  }
}
