//-----------------------------------------
// Color Settings
//-----------------------------------------
$color-black: rgb(36, 48, 49);
$color-grey: rgb(238, 238, 238);
$color-teal: rgb(51, 77, 91);
$color-red: rgb(220, 91, 77)
