//-----------------------------------------
// Color Settings
//-----------------------------------------
$color-black: rgb(14, 21, 20);
$color-grey: rgb(238, 238, 238);
$color-teal: rgb(34, 47, 48);
