//-----------------------------------------
// Spacing Settings
//-----------------------------------------
$container-width: 120rem;
$gutter: 2rem;
$gutter--large: $gutter * 2;
$gutter--small: $gutter / 2;
