//-----------------------------------------
// Z-Index Scale
//-----------------------------------------
$z-index-dropdown: 2;
$z-index-header  : 3;
$z-index-modal   : 4;
$z-index-skip-to-content: 10000;
