//--------------------------------------------------------------
// Style for Descriptor List Component
//--------------------------------------------------------------
.c-descriptor-list {
  color: white;
  text-align: center;
  text-transform: uppercase;
}
