//--------------------------------------------------------------
// Styles for Slider Component
//--------------------------------------------------------------

.c-slider {
  opacity: 0;
  transition: all 0.3s ease;
  transform: translateY(5rem);
}

//-----------------------------------------
// Slider Slide
//-----------------------------------------
.c-slider__item {
  display: flex;
  flex-wrap: wrap;
  width: 100%; // fix issue with flickity
}

//-----------------------------------------
// Slider Slide 2 Columns
//-----------------------------------------
.c-slider__item--halves {
  .c-slider__block {
    width: 100%;

    @include breakpoint($medium--up) {
      width: 50%;
    }
  }
}

///-----------------------------------------
// Slider Block
//-----------------------------------------
.c-slider__block {
  padding-right: $gutter;

  &:last-of-type {
    padding-right: 0;
  }
}

//-----------------------------------------
// Slider Image Block
//-----------------------------------------
.c-slider__image-block {
  margin-bottom: $gutter;
  text-align: center;

  @include breakpoint($medium--up) {
    margin-bottom: 0;
  }
}

//-----------------------------------------
// Slider Content Heading
//-----------------------------------------
.c-slider__heading {
  margin: 0 0 1.5rem;
}

//-----------------------------------------
// Flickity Override
//-----------------------------------------
.flickity-page-dots {
  bottom: -3rem;
}

.flickity-page-dots .dot {
  width: 5rem;
  height: 0.8rem;
  border-radius: 0;
  background-color: $color-red;
  transition: opacity 0.15s ease-in-out;
}

.flickity-page-dots .dot:hover {
  opacity: 1;
}
