//--------------------------------------------------------------
// Styles for Slider Component
//--------------------------------------------------------------

.c-slider {
  opacity: 0;
  transition: all 0.3s ease;
  transform: translateY(5rem);
}

.c-slider--is-active {
  opacity: 1;
  transform: translateY(0);
}

.c-slider__item {
  display: flex;
  width: 100%; // fix issue with flickity
}

.c-slider__item--halves {
  .c-slider__block {
    width: 50%;
  }
}

.c-slider__block {
  padding-right: $gutter;

  &:last-of-type {
    padding-right: 0;
  }
}

.c-slider__heading {
  margin: 0 0 1.5rem;
}

//-----------------------------------------
// Flickity Override
//-----------------------------------------
.flickity-page-dots .dot {
  width: 5rem;
  height: 0.8rem;
  border-radius: 0;
  background-color: $color-red;
  transition: opacity 0.15s ease-in-out;
}

.flickity-page-dots .dot:hover {
  opacity: 1;
}
