//--------------------------------------------------------------
// Tab Select Styles
//--------------------------------------------------------------
.c-tab-select {
  display: flex;
  justify-content: center;
  padding: $gutter 0;
}

//-----------------------------------------
// Tab Items
//-----------------------------------------
.c-tab-select__tab {
  margin-right: $gutter;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  transition: border-color 0.2s ease-out;

  @include breakpoint($small--up) {
    margin-right: $gutter * 2;
  }
  
  &:last-of-type {
    margin-right: 0;
  }
}

//-----------------------------------------
// Active + Color State
//-----------------------------------------
.c-tab-select__tab--active,
.c-tab-select__tab:hover {
  border-color: $color-red;
}
