{% extends '_layouts/base' %}

{% block content %}
  <article>
    <header class="m-case-study-header">
      <div class="container">
        <h2>Metro Credit Union</h2>
        <p class="m-case-study-header__sub"><b>Responsibilities:</b> {{ entry.responsibilities }}</p>
      </div>
    </header>
    <div class="container">
      {% for block in entry.blogContent.all %}
        {% include '_blocks/' ~ block.type with {
          block: block
        } %}
      {% endfor %}
    </div>
  </article>
  {% include '_modules/contact' %}
{% endblock %}
