<!DOCTYPE html>
<html class="no-js" lang="en-us">
{% cache %}
  <head>
    {% block head %}
      {% include '_partials/head.twig' %}
    {% endblock %}
  </head>

  <body>
  <a href="#main" class="skip-link visually-hidden">Skip to main content</a>
    <header class="m-site-header" role="banner">
      {% block header %}
        {% include '_partials/header.twig' %}
      {% endblock %}
    </header>

    <main id="main" role="main" class="main">
      {% block content %}
      {% endblock %}
    </main>

  {{ craft.twigpack.includeJsModule("main.js", true) }}

    {# Output additional code depending on environment #}
  {% if not craft.app.config.general.devMode %}
    {% if generalSettings.googleAnalyticsCode is defined %}
      {{ generalSettings.googleAnalyticsCode | raw }}
    {% endif %}
  {% endif %}

  </body>

{% endcache %}

</html>
