{# ------------------------------------------------------------------------------
  About Me
  Location(s): Homepage

  Parameters:
   - heading {string}
   - content {string}

------------------------------------------------------------------------------ #}

<section class="m-about-me c-index-section">
  <div class="container">
    <h2 class="section-heading">A Little About Me</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus ipsum expedita officia eveniet modi assumenda ut cupiditate illum eum, autem perferendis eaque? Facilis accusantium quos hic. Sit aliquam consequuntur ab.</p>
  </div>
  {# /.container #}
</section>
