{# ------------------------------------------------------------------------------
  About Me
  Location(s): Homepage

  Parameters:
   - heading {string}
   - content {string}

------------------------------------------------------------------------------ #}
<section class="m-about-me c-index-section">
  <div class="container">
    <h2 class="section-heading">{{ heading }}</h2>
    {{ copy | typogrify }}
  </div>
  {# /.container #}
</section>
