{# ------------------------------------------------------------------------------
  Contact
  Location(s): Homepage

  Parameters:
   - heading {string}
   - content {string}

------------------------------------------------------------------------------ #}

<section class="m-contact c-index-section">
  <div class="container">
    <h2 class="section-heading">Looking to get in touch?</h2>
    <p class="m-contact__content">Drop me a line at: <span class="underline">john at johnjflynn.net</span></p>
  </div>
</section>
