<section class="m-work c-index-section">
  <div class="container">
    <h2 class="section-heading">Some of My Work</h2>
    <div class="m-work__type-select c-tab-select">
      <span class="c-tab-select__tab c-tab-select__tab--active">WordPress</span>
      <span class="c-tab-select__tab">Shopify</span>
      <span class="c-tab-select__tab">Miscellaneous</span>
    </div>
    {# /.c-tab-select #}
  </div>
  {# /.container #}
</section>
