{# ------------------------------------------------------------------------------
  About Me
  Location(s): Homepage

  Parameters:
   - heading {string}
   - content {string}

------------------------------------------------------------------------------ #}
<section class="m-about-me c-index-section">
  <div class="container">
    <h2 class="section-heading">{{ heading }}</h2>
    <div class="richtext flow">
      {{ copy | typogrify }}
    </div>
    {# /.editor-content #}
  </div>
  {# /.container #}
</section>
